/* 리스트 스타일 */
.markdown-contents ul {
  @apply ml-5 mt-2 mb-2 list-disc list-inside;
  text-wrap: pretty;
}

.markdown-contents ol {
  @apply ml-5 mt-2 mb-2 list-decimal list-inside;
  text-wrap: pretty;
}
.markdown-contents h1,
.markdown-contents h2,
.markdown-contents h3,
.markdown-contents h4,
.markdown-contents h5,
.markdown-contents h6 {
  text-wrap: balance;
  word-break: break-word;
}

.markdown-contents h1 {
  @apply text-3xl font-bold mt-6 mb-4;
}

.markdown-contents h2 {
  @apply text-2xl font-semibold mt-12 mb-3;
}

.markdown-contents h3 {
  @apply text-xl font-medium mt-5 mb-2;
}

.markdown-contents h4 {
  @apply text-lg font-medium mt-4 mb-2;
}

.markdown-contents h5 {
  @apply text-base font-semibold mt-3 mb-1;
}

.markdown-contents p {
  @apply mt-2 mb-2;
}

.markdown-contents li {
  margin-bottom: 0.25rem; /* Add slight spacing between list items */
}

.markdown-contents li > p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* 코드 블록 스타일 */
.markdown-contents pre,
.markdown-contents code {
  @apply rounded text-sm font-mono overflow-x-auto flex flex-col;
}

.markdown-contents code {
  @apply p-4 rounded text-xs font-mono;
}

.markdown-contents code.inline-code {
  @apply inline bg-gray-300 p-1 whitespace-nowrap mx-1;
}

[data-theme="dark"] .markdown-contents code.inline-code {
  @apply inline bg-gray-500 p-1;
}

/* 링크 스타일 */
.markdown-contents a {
  @apply text-[var(--link-text-color)] hover:text-[var(--link-text-hover-color)];
}

[data-theme="dark"] .markdown-contents a {
  @apply text-[var(--dark-link-text-color)] hover:text-[var(--link-text-hover-color)];
}

/* 이미지 스타일 */

.markdown-contents img {
  @apply max-w-full h-auto rounded mt-2 mb-2;

  &.contents-img {
    width: 600px;
  }
}

/* 인용구 스타일 */
.markdown-contents blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic text-gray-600;
}

/* 테이블 스타일 */
.markdown-contents table {
  @apply w-full border-collapse mt-4 mb-4;
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

.markdown-contents th,
.markdown-contents td {
  @apply border border-gray-300 px-4 py-2;
  font-variant-numeric: tabular-nums;
}

.markdown-contents th {
  @apply bg-gray-300 font-semibold;
}

.markdown-contents td {
  vertical-align: top; /* Align content to top for better readability */
}

[data-theme="dark"] .markdown-contents th {
  @apply bg-gray-500 font-semibold;
}

.markdown-contents pre {
  @apply p-2 rounded-md overflow-x-auto mt-2 mb-2 overflow-y-hidden w-full;
}

.markdown-contents hr {
  @apply my-4;
}
