@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/fonts.css";

:root {
  --light-bg-color: #ffffff;
  --light-text-color: #000000;
  --light-primary-color: #0090ff;
  --dark-bg-color: #121212;
  --dark-text-color: #e0e0e0;
  --dark-primary-color: #80bfff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--dark-bg-color);
    --text-color: var(--dark-text-color);
    --primary-color: var(--dark-primary-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--light-bg-color);
    --text-color: var(--light-text-color);
    --primary-color: var(--light-primary-color);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
