@import "../styles/fonts.css";
@import "../styles/markdown.css";

/* Tailwind 설정 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 라이트 및 다크 모드 기본 색상 */
:root {
  /* Light Mode Colors */
  --light-bg-color: #ffffff;
  --light-text-color: #1e2229;
  --light-second-bg-color: rgba(0, 144, 255, 0.3);
  --light-theme-color: #f5c525;

  /* Dark Mode Colors */
  --dark-bg-color: #14161b;
  --dark-text-color: #ffffff;
  --dark-second-bg-color: rgba(63, 63, 63, 0.3);
  --dark-theme-color: #6a0dad;

  /* Common Colors */
  --gray-bg-color: rgb(217, 217, 217);
  --gray1-text-color: #808080;
  --gray2-text-color: #a8afbd;
  --dimmed-color: #6a737d;
  --primary-color: #0090ff;
  --description-text-color: #a8afbd;
}

/* 전환 관련 속성 */
:root {
  --transition-duration: 0.3s;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* 폰트 */
:root {
  --font-family1: "Pretendard";
  --font-family2: "Nanum MiraeNamu";
}

/* 프로젝트 및 카테고리 색상 */
:root {
  /* Project */
  --project-light-bg: rgba(217, 217, 217, 0.4);

  /* Category */
  --category-dev-bg: #1f77d4;
  --category-life-bg: #f39c12;
  --category-etc-bg: #7f8c8d;
  --category-fe-bg: #0090ff;
  --category-be-bg: #0cba77;
  --category-dev-other-bg: #e67e22;
  --category-work-bg: #d35400;
  --category-hobby-bg: #c0392b;
  --category-book-bg: #8e44ad;
  --category-photo-bg: #d4ac0d;
  --category-music-bg: #2980b9;
}

/* Light Theme */
[data-theme="light"] {
  --bg-color: var(--light-bg-color);
  --text-color: var(--light-text-color);
  --second-bg-color: var(--light-second-bg-color);
  --project-card-bg: var(--project-light-bg);
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: var(--dark-bg-color);
  --text-color: var(--dark-text-color);
  --second-bg-color: var(--dark-second-bg-color);
  --project-card-bg: #ffffff;
}

/* Global Styles */
html,
body,
main {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
  font-family: var(--font-family1);
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(217, 217, 217, 0.8);
}
