/* @import "../styles/fonts.css"; */
@import "../styles/markdown.css";

/* Tailwind 설정 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 라이트 및 다크 모드 기본 색상 */
:root {
  /* Light Mode Colors */
  --light-bg-color: #fafafa;
  --light-text-color: #121212;
  --light-second-bg-color: rgba(0, 144, 255, 0.3);
  --light-bg-gray-color: #f1f3f5;
  --light-bg-gray-hover-color: #dee2e6;

  /* Dark Mode Colors */
  --dark-bg-color: #121212;
  --dark-text-color: #fafafa;
  --dark-second-bg-color: rgba(63, 63, 63, 0.3);
  --dark-bg-gray-color: #2d2d2d;
  --dark-bg-gray-hover-color: #404040;

  /* Common Colors */
  --gray-bg-color: #d9d9d9;
  --dimmed-color: #6a737d;
  --primary-color: #0abab5;
  --primary-hover-color: #0abab580;
  --description-text-color: #a8afbd;
  --link-text-color: #0070f3;
  --link-text-hover-color: #3399ff;
  --hover-link-color: rgba(192, 192, 192, 0.3);

  /* TODO: 삭제 요망 */
  /** Gray Scale*/
  --dark-gray: #333333;
  --dim-gray: #666666;
  --gray: #999999;
  --light-gray: #cccccc;
  --gainsboro: #dcdcdc;
  --silver: #c0c0c0;
  --light-silver: #e0e0e0;
  --whisper-gray: #f5f5f5;
}

/* 전환 관련 속성 */
:root {
  --transition-duration: 0.3s;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* 카테고리 색상 */
:root {
  /* Category */
  --category-dev-bg: #1f77d4;
  --category-life-bg: #f39c12;
  --category-etc-bg: #7f8c8d;
  --category-fe-bg: #0090ff;
  --category-be-bg: #0cba77;
  --category-dev-other-bg: #e67e22;
  --category-work-bg: #d35400;
  --category-hobby-bg: #c0392b;
  --category-book-bg: #8e44ad;
  --category-photo-bg: #d4ac0d;
  --category-music-bg: #2980b9;
}

:root {
  --mobile-nav-max-width: 56rem;
}

/* Light Theme */
[data-theme="light"] {
  --bg-color: var(--light-bg-color);
  --contrasting-bg-color: var(--dark-bg-color);
  --text-color: var(--light-text-color);
  --contrasting-text-color: var(--dark-text-color);
  --second-bg-color: var(--light-second-bg-color);
  --border-color: var(--light-gray);
  --bg-gray-color: var(--light-bg-gray-color);
  --bg-gray-hover-color: var(--light-bg-gray-hover-color);
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: var(--dark-bg-color);
  --contrasting-bg-color: var(--light-bg-color);
  --text-color: var(--dark-text-color);
  --contrasting-text-color: var(--light-text-color);
  --second-bg-color: var(--dark-second-bg-color);
  --border-color: var(--dark-gray);
  --bg-gray-color: var(--dark-bg-gray-color);
  --bg-gray-hover-color: var(--dark-bg-gray-hover-color);
}

/* Global Styles */
html,
body,
main {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
  font-family:
    var(--font-pretendard),
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Noto Sans KR",
    "Apple SD Gothic Neo",
    sans-serif;
}

/* Scrollbar Styles */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-hover-color);
}

.scroll-bar-thin {
  scrollbar-width: 4px;
}
.scroll-bar-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  position: static;
  width: 100%;
  height: 100%;
  scrollbar-gutter: stable;
  overflow-y: scroll;
  flex-grow: 1;
}

body[data-modal-open="true"] {
  position: fixed;
  width: 100%;
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
